<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../public/styles/blogs/list.css">
</head>
<body>
    <div class="navbar">
        <div class="navbar-content">
            <div class="logo">Gardenly</div>
            <nav class="nav-links">
                <a href="/">Home</a>
        
                <a href="/blog">blogs</a>
                <a href="/expert_support">Expert Support</a>
                <a href="/login">Login</a>
            </nav>
        </div>
    </div>
        
        <div class="blog-container">
            <article class="blog-item">
                <div class="blog-img">
                    <img src="../../public/images/blogs/basic1.webp" alt="Blog Image 1">
                </div>
                <div class="blog-content">
                    <span class="blog-date">Feruary 3, 2025</span>
                    <h2 class="blog-title">The Rise of No-Dig Gardening: How To Get Started!</h2>
                    <p class="blog-description">Innovative, eco-friendly, low-effort, and perfectly suited for gardeners of all experience levels; no-dig gardening is rightully all the rage right now.</p>
                    
                </div>
            </article>
            
            <article class="blog-item">
                <div class="blog-img">
                    <img src="../../public/images/blogs/basics2.webp" alt="Blog Image 2">
                </div>
                <div class="blog-content">
                    <span class="blog-date">January 8, 2025</span>
                    <h2 class="blog-title">Sowing and Growing Phlox Flower Seeds: A Comprehensive Grow Guide</h2>
                    <p class="blog-description">We've officially found our favorite 'Popstars' in these mesmerizing Star Phlox flowers! Just recently, we were wondering which summer-growing, sun-loving annuals would be best for our gardens, and it so happened that we remembered - we exist in the same world as the stunning Star Phlox flowers!</p>
                    
                </div>
            </article>
            
            <article class="blog-item">
                <div class="blog-img">
                    <img src="../../public/images/blogs/basics3.webp" alt="Blog Image 3">
                </div>
                <div class="blog-content">
                    <span class="blog-date">March 5, 2025</span>
                    <h2 class="blog-title">How to Plant Lupin Seeds for Stunning, Own-Grown Ornamental Flowers</h2>
                    <p class="blog-description">With flowers as dreamy as can be and care requirements that make them just right for beginners, Lupin flowers are exactly what your garden spaces need. Their typically deep hues and tall, mesmerizing stems make Lupins perfect for cottage gardens, borders, containers, and more. </p>
                    
                </div>
            </article>
            <article class="blog-item">
                <div class="blog-img">
                    <img src="../../public/images/blogs/basics4.webp" alt="Blog Image 3">
                </div>
                <div class="blog-content">
                    <span class="blog-date">January 30, 2025</span>
                    <h2 class="blog-title">How to Grow the Peacock Plant in Your Home: Simple Tips to Follow!</h2>
                    <p class="blog-description">Probably one of the most beautiful indoor plants you've laid eyes on, this stunning Calathea is all the rage with plant enthusiasts everywhere... and honestly, we don't blame them!</p>
                    
                </div>
            </article>
        </div>
    </section>
</body>
</html>