<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="../../public/styles/blogs/style.css">
</head>
<body>
    <div class="navbar">
        <div class="navbar-content">
            <div class="logo">Gardenly</div>
            <nav class="nav-links">
                <a href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/expert_support">Expert Support</a>
            </nav>
        </div>
    </div>



    <div id="container">
        <div class="sub-container">
            <p id="heading">Explore our Blogs for Simpler, Happier, and Greener Home Gardening</p>
        </div>
        
        <div class="categories">
            <div class="sub-categories">
                <img src="../../public/images/blogs/gardening-basics.webp" alt="Gardening Basics">
                <div class="hover-text">
                    <p>Dive in and find everything you need to know about the basics of gardening & plant care.</p>
                    <a href="/basics" class="explore-btn">Explore</a>
                </div>
                <div class="image-caption">Gardening Basics</div>
            </div>

            <div class="sub-categories">
                <img src="../../public/images/blogs/garden-maintenance.webp" alt="Garden Maintenance">
                <div class="hover-text">
                    <p>Find out how to tackle every garden maintenance problem.</p>
                    <a href="/maintenance" class="explore-btn">Explore</a>
                </div>
                <div class="image-caption">Garden Maintenance</div>
            </div>

            <div class="sub-categories">
                <img src="../../public/images/blogs/kitchen-gardening.webp" alt="Kitchen Gardening">
                <div class="hover-text">
                    <p>Grow the freshest produce in the comfort of your own home!</p>
                    <a href="/kitchen" class="explore-btn">Explore</a>
                </div>
                <div class="image-caption">Kitchen Gardening</div>
            </div>
             
        </div>
        </div>
    </div>

    <section class="blog">
        <div >
            <p id="articles-heading"> Recent Articles</p>
      </div>
        <div class="blog-container">
            <article class="blog-item">
                <div class="blog-img">
                    <img src="../../public/images/blogs/article1.webp" alt="Blog Image 1">
                </div>
                <div class="blog-content">
                    <span class="blog-date">March 10, 2025</span>
                    <h2 class="blog-title">Why Plants Are The Best Women's.....</h2>
                    <p class="blog-description">Women's Day is all about celebrating the beautiful women in your life. From their quirks and imperfections to their achievements and....</p>
                    <a href="/article1" class="blog-button">Read More</a>
                </div>
            </article>
            
            <article class="blog-item">
                <div class="blog-img">
                    <img src="../../public/images/blogs/article2.jpg" alt="Blog Image 2">
                </div>
                <div class="blog-content">
                    <span class="blog-date">March 8, 2025</span>
                    <h2 class="blog-title">7 Wasp and Bee-Repellent Plants.....</h2>
                    <p class="blog-description">Bees are nature’s little pollinators, vital in keeping our ecosystems thriving. But we get it, we understand—while they are essential for the....</p>
                    <a href="/article2" class="blog-button">Read More</a>
                </div>
            </article>
            
            <article class="blog-item">
                <div class="blog-img">
                    <img src="../../public/images/blogs/article3.webp" alt="Blog Image 3">
                </div>
                <div class="blog-content">
                    <span class="blog-date">March 5, 2025</span>
                    <h2 class="blog-title">7 Allergy-Relief Plants to Make......</h2>
                    <p class="blog-description">Spring is upon us, and summer is fast approaching! While many would agree that warmer temperatures are ....</p>
                    <a href="/article3" class="blog-button">Read More</a>
                </div>
            </article>
            <article class="blog-item">
                <div class="blog-img">
                    <img src="../../public/images/blogs/article4.webp" alt="Blog Image 3">
                </div>
                <div class="blog-content">
                    <span class="blog-date">January 30, 2025</span>
                    <h2 class="blog-title">Top 4 Summer Vegetables in India..</h2>
                    <p class="blog-description">Summer is a great season for growing vegetables in your kitchen garden. Vegetable plants that like to grow under full sunshine, enjoy</p>
                    <a href="/article4" class="blog-button">Read More</a>
                </div>
            </article>
        </div>
    </section>
</body>
</html>