<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../public/styles/blogs/list.css">
</head>
<body>
    <div class="navbar">
        <div class="navbar-content">
            <div class="logo">Gardenly</div>
            <nav class="nav-links">
                <a href="/">Home</a>
               
                <a href="/blog">blogs</a>
                <a href="/expert_support">Expert Support</a>
                <a href="/login">Login</a>
            </nav>
        </div>
    </div>
        
        <div class="blog-container">
            <article class="blog-item">
                <div class="blog-img">
                    <img src="../../public/images/blogs/k1.webp" alt="Blog Image 1">
                </div>
                <div class="blog-content">
                    <span class="blog-date">Feruary 3, 2025</span>
                    <h2 class="blog-title">Make Terrace Gardening Fun with These 9 Vegetables and Flowers!</h2>
                    <p class="blog-description">Terrace gardening isn’t just about growing plants; it’s about rediscovering the joy of nurturing life. Whether you're a seasoned gardener or just dipping your toes into the soil, picking the right flowers and veggies makes all the difference!</p>
                    
                </div>
            </article>
            
            <article class="blog-item">
                <div class="blog-img">
                    <img src="../../public/images/blogs/k2.webp" alt="Blog Image 2">
                </div>
                <div class="blog-content">
                    <span class="blog-date">January 8, 2025</span>
                    <h2 class="blog-title">Companion Gardening for Summer: Beat the Heat in Style!</h2>
                    <p class="blog-description">Summer gardening can be brutal, but companion planting makes it a breeze!

                        This ancient technique pairs plants that help each other thrive—offering shade, repelling pests, and keeping the soil cool. Rooted in Indigenous wisdom like the Three Sisters method**, it’s nature’s way of beating the heat. Ready to grow smarter, not harder? Let’s dive into the best plant partnerships for a thriving summer garden! </p>
                    
                </div>
            </article>
            
            <article class="blog-item">
                <div class="blog-img">
                    <img src="../../public/images/blogs/k3.webp" alt="Blog Image 3">
                </div>
                <div class="blog-content">
                    <span class="blog-date">March 5, 2025</span>
                    <h2 class="blog-title">How to Grow Oregano from Seeds: A Simple Guide!</h2>
                    <p class="blog-description">Most definitely one of the best garden plants to have, this Mediterranean herb is a must-have for gardeners everywhere. Doesn't matter if you're a beginner or a seasoned pro in growing seeds, oregano seeds just don't know how to let you down!</p>
                    
                </div>
            </article>
            <article class="blog-item">
                <div class="blog-img">
                    <img src="../../public/images/blogs/k4.webp" alt="Blog Image 3">
                </div>
                <div class="blog-content">
                    <span class="blog-date">January 30, 2025</span>
                    <h2 class="blog-title">Common Mistakes to Avoid When Growing Seedlings in Plant Trays</h2>
                    <p class="blog-description">The greatest solution and our personal prized possession for starting seeds lies in seedling trays! Essentially, these grow trays ensure that your seeds get exactly the kind of care they need and that they get to grow in controlled environments that will ensure optimal germination for them. </p>
                    
                </div>
            </article>
        </div>
    </section>
</body>
</html>