<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../public/styles/blogs/list.css">
</head>
<body>

    <div class="navbar">
        <div class="navbar-content">
            <div class="logo">Gardenly</div>
            <nav class="nav-links">
                <a href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/blog">blogs</a>
                <a href="/expert_support">Expert Support</a>
            </nav>
        </div>
    </div>
        
        <div class="blog-container">
            <article class="blog-item">
                <div class="blog-img">
                    <img src="../../public/images/blogs/m1.webp" alt="Blog Image 1">
                </div>
                <div class="blog-content">
                    <span class="blog-date">Feruary 3, 2025</span>
                    <h2 class="blog-title">No More Curling Plants This Summer- Here's How to Treat Leaf Curl!!</h2>
                    <p class="blog-description">Imagine stepping into your garden on a bright summer morning, only to find your beloved plants looking like they just woke up on the wrong side of the bed—leaves curling inwards, drooping, or twisting in strange directions.

                        Yep, that’s leaf curl, and it’s your plant’s way of waving a little distress flag. </p>
                    
                </div>
            </article>
            
            <article class="blog-item">
                <div class="blog-img">
                    <img src="../../public/images/blogs/m2.webp" alt="Blog Image 2">
                </div>
                <div class="blog-content">
                    <span class="blog-date">January 8, 2025</span>
                    <h2 class="blog-title">This Summer, Water Smart! - 5 Products that Will Make Summer a Breeze</h2>
                    <p class="blog-description">Worried about keeping your plants properly hydrated this summer? We understand! Summer watering is a serious concern for plant parents everywhere because plants that generally need water only once a week, suddenly seem to dry out within two days.</p>
                    
                </div>
            </article>
            
            <article class="blog-item">
                <div class="blog-img">
                    <img src="../../public/images/blogs/m3.webp" alt="Blog Image 3">
                </div>
                <div class="blog-content">
                    <span class="blog-date">March 5, 2025</span>
                    <h2 class="blog-title">Overwatered Your Plant? Here's How You Can Save It!</h2>
                    <p class="blog-description">Unfortunately, overwatered plants are a more common issue than you'd think. It can get pretty difficult to gauge whether or not you've watered your plant enough and sometimes, you might just pour a little extra thinking it wasn't enough.  </p>
                    
                </div>
            </article>
            <article class="blog-item">
                <div class="blog-img">
                    <img src="../../public/images/blogs/m4.webp" alt="Blog Image 3">
                </div>
                <div class="blog-content">
                    <span class="blog-date">January 30, 2025</span>
                    <h2 class="blog-title">How to Water Indoor Plants: Say Goodbye to Improper Watering!</h2>
                    <p class="blog-description">Knowing how, when, and how much to water your indoor plants is quite literally the key to keeping them alive. While to some this might come as second nature, it isn't easy for everyone - especially when they are just getting introduced to the world of gardening.</p>
                    
                </div>
            </article>
        </div>
    </section>
</body>

</html>